<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    
    <script src="/stomp.js"></script> 
   	<script>
   		let socket =  new WebSocket(name);
	    function showGreeting() {
	    	let name = document.getElementById('server').value;
	        // Create the data table.
	    	//document.getElementById("greetings").innerHTML = name;
	    	socket = new WebSocket(name);
	    	
	    }
	    
	    socket.onopen = function(e) {
	        alert("websocket open");
	        socket.send("web application started");
	      };
	    
	    socket.onmessage = function(event) {
	    	document.getElementById("greetings").innerHTML = event.data;
	      	
	    };
	    
	    socket.onclose = function(event) {
	        if (event.wasClean) {
	          //alert(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
	        } else {
	          // e.g. server process killed or network down
	          // event.code is usually 1006 in this case
	          alert('[close] Connection died');
	        }
	      };
    
    
    </script>
    
    
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
  <div class="row">
   <h1> Spring Boot + Websocket Demo</h1>
  </div>
  <br>
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline" name="myform">
                <div class="form-group">
                    <label for="connect">WebSocket connection:</label>
                    <input type="text" name="server" id="server" value="ws://127.0.0.1:2016/event-websocket"></input>
                    <button id="connect" class="btn btn-default" onclick="showGreeting(); return false;">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>
            </form>
            
            <br>
             <form class="form-inline">
                <div class="form-group">
                    <label for="name">What is your name?</label>
                    <input type="text" id="name" class="form-control" placeholder="Your name here...">
                </div>
                <button id="send" class="btn btn-default" type="submit">Send</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Greetings</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>