
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Halo Dunia</title>
    <!--Load the AJAX API-->
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <!--
    <script src="/webjars/jquery/jquery.min.js"></script>
    -->
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    
    <script src="/stomp.js"></script> 
    <!--  
    <script src="/app.js"></script>
    -->  
    <script type="text/javascript">
    let socket = new WebSocket("ws://127.0.0.1:2016/event-websocket");
    
	function reconnect() {
		let name = document.getElementById('server').value;

    	socket = new WebSocket(name);
	}
    socket.onopen = function(e) {
      
      socket.send("web application started");
    };

    socket.onmessage = function(event) {
    	document.getElementById("from_server").innerHTML = event.data;
      	//alert(`[message] Data received from server: ${event.data}`);
    };

    socket.onclose = function(event) {
      if (event.wasClean) {
        //alert(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
      } else {
        // e.g. server process killed or network down
        // event.code is usually 1006 in this case
        //alert('[close] Connection died');
      }
    };


       
    </script>
</head>
<body>

<h1>Halo Dunia!  Hello World!  Halo Wereld!</h1>

 <form name="myform">
                <div class="form-group">
                    <label for="connect">WebSocket connection:</label>
                    <input type="text" size="50" name="server" id="server" value="ws://127.0.0.1:2016/event-websocket"></input>
                    <button id="connect" class="btn btn-default" onclick="showGreeting(); return false;">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>
</form>

<div id="from_server"></div>
</body>
</html>


